@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body { 
		@apply bg-[#0f0f0f] lato;
	}
}

@layer components {
	.btn-red-search {
		@apply cursor-pointer transition ease-in-out delay-100 text-white bg-[#E01A00] px-6 py-6 border-2 border-[#E01A00] hover:bg-transparent hover:text-[#E01A00] hover:border-2 hover:border-[#E01A00];
	}
	.btn-red-rounded {
		@apply cursor-pointer transition ease-in-out delay-100 text-white bg-[#E01A00] py-2 px-4 border-2 border-[#E01A00] hover:bg-transparent hover:text-[#E01A00] hover:border-2 hover:border-[#E01A00] rounded-full;
	}
	.btn-gray-rounded {
		@apply cursor-pointer transition ease-in-out delay-100 bg-[#2b2a2a] py-1 px-4 inline-block hover:bg-transparent border-2 border-[#2b2a2a] hover:text-[#ccc] hover:border-2 hover:border-[#2b2a2a] rounded-full;
	}
	.h1-title {
		@apply text-transparent lilita-one text-stroke font-bold;
	}
	.h2-title {
		@apply text-2xl mb-5 border-b-2 border-[#666] pb-2;
	}
	.h3-title {
		@apply text-xl mb-5 border-b-2 border-[#565656] pb-2;
	}
}

@layer utilities {
	.lato {
		font-family: 'Lato', sans-serif;
	}
	.lilita-one {
		font-family: 'Lilita One', sans-serif;
	}
	.text-stroke {
		-webkit-text-stroke: 1px #E01A00;
	}
	.bg-black-orign {
		background-image: radial-gradient(circle at center center, transparent, rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 2px, transparent 2px, transparent 10px, rgb(33, 33, 33) 10px, rgb(33, 33, 33) 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 4px, transparent 4px, transparent 8px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
	}
	/* header nav */
	.sp-nav {
		display: none;
	}

	.sp-nav a {
		display: none;
	}

	.sp-nav.panelactive {
		position: fixed;
		z-index: 998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}

	.sp-nav.panelactive a {
		display: block;
		text-decoration: none;
		color: #fff;
		margin-bottom: 40px;
		text-transform: capitalize;
	}

	.nav-icon {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 998;
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: none;
		background: transparent;
		padding: 10px;
	}

	.nav-icon span {
		display: inline-block;
		transition: all .4s;
		position: absolute;
		left: 14px;
		height: 3px;
		border-radius: 2px;
		background: #E01A00;
		width: 45%;
	}

	.nav-icon span:nth-of-type(1) {
		top: 15px;
	}

	.nav-icon span:nth-of-type(2) {
		top: 23px;
	}

	.nav-icon span:nth-of-type(3) {
		top: 31px;
	}

	.nav-icon.active {
		z-index: 9999;
	}

	.nav-icon.active span {
		transition: all .4s;
	}

	.nav-icon.active span:nth-of-type(1) {
		top: 18px;
		left: 14px;
		transform: translateY(6px) rotate(-45deg);
		width: 45%;
	}

	.nav-icon.active span:nth-of-type(2) {
		opacity: 0;
	}

	.nav-icon.active span:nth-of-type(3) {
		top: 30px;
		left: 14px;
		transform: translateY(-6px) rotate(45deg);
		width: 45%;
	}

	@media screen and (max-width: 800px) {
		.pc-nav {
			display: none;
		}

		.sp-nav {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.nav-icon {
			display: block;
		}
	}

	.circle {
		position: fixed;
		z-index: 100;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: #0f0f0fe3;
		transform: scale(0);
		bottom: -50px;
		left: calc(50% - 50px);
		transition: all .2s;
	}

	.circle.circleactive {
		transform: scale(50);
	}
}